:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.result-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}
